/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    background-color: aquamarine;
    margin: 5px;
} */

/* div{
    height: 250px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    text-align: center;
} */

.content{
    color: red;
}

.newcontent{
    background-color:green;
}